<hgroup>
  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}

  <br>

  <a href="https://twitter.com/SostephOh" target="_blank"><img src="/assets/icons/256/Twitter.png" height="40" width="40"></a>

  <a href="https://github.com/stephaniehoh" target="_blank"><img src="/assets/icons/256/Gittub.png" height="40" width="40"></a>

  <a href="http://www.linkedin.com/pub/stephanie-oh/22/537/389" target="_blank"><img src="/assets/icons/256/Linkedin.png" height="40" width="40"></a>

</hgroup>
